rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn() && (
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin'
      );
    }

    function isAssistantAdmin() {
      return signedIn() && (
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'assistant_admin'
      );
    }

    function canAccessAdminPanel() {
      return isAdmin() || isAssistantAdmin();
    }

    match /users/{userId} {
      allow read: if signedIn();
      allow create: if signedIn() && request.auth.uid == userId;

      allow update: if signedIn() && (
        request.auth.uid == userId || isAdmin()
      );

      allow delete: if isAdmin();
    }

    match /materials/{materialId} {
      allow read: if signedIn();
      allow create, update, delete: if canAccessAdminPanel();
    }

    match /modules/{moduleId} {
      allow read: if signedIn();
      allow create, update, delete: if canAccessAdminPanel();
    }
  }
}
